<div>
  <div class="row">
    <div class="col-sm">
      <fa-icon [icon]="faUserPlus"></fa-icon> <a class = "nav-link " routerLink="/crear">Crear Producto </a> 
    </div>
    <div class="col-sm">
      <fa-icon class="fa-2x" [icon]="faListAlt"></fa-icon>
    </div>
  </div>
  <hr>
  <h5>Listado de Producto</h5>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Categoria</th>
        <th>Promoción</th>
        <th>Nombre</th>
        <th>Imagen</th>
        <th>Talla</th>
        <th>Caracteristicas</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of products">
        <td>{{item.prd_id}}</td>
        <td>{{item.cat_id}}</td>
        <td>{{item.prm_id}}</td>
        <td>{{item.prd_nom}}</td>
        <td>{{ item.prd_img }}</td>
        <td>{{ item.prd_tal }}</td>
        <td>{{ item.prd_crt }}</td>
        <td>{{ item.prd_cnt }}</td>
        <td>{{ item.prd_prc }}$</td>
        <td class="btn-group">
          <button [routerLink]="['/productos',item.prd_id]" class="btn btn-sm btn-info" ><fa-icon [icon]="faEye"></fa-icon></button>     
          <button class="btn btn-sm btn-warning">
            <fa-icon [icon]="faPencilAlt"></fa-icon>
          </button>
          <button (click)="delete(item)" class="btn btn-sm btn-danger">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

