
<style>
  .modal-header{
    width: 60vw;
  }
  .modal-title{
    width: 60vw;
  }
  .modal-content{
    width: 60vw;
  }

  .modal-body{
    height: 60vh;
    width: auto;
    overflow: hidden;
  }

  .modal-body:hover{overflow-y: auto;}
  .popupheader{
    background-color: black;
    color:white;
  }
  .fade{
    opacity: 1;
    -webkit-transaction: opacity 1s linear;
    translate: opacity 1s linear;
  }
</style>
<div>
  <div class="row">
    <div class="col-6 col-md-6 col-sm-6 col-xl-6">
      <a class="nav-link " routerLink="/tienda">
        <fa-icon [icon]="faList"></fa-icon> Tienda
      </a>
    </div>
    <div class="col-6 col-md-6 col-sm-6 col-xl-6" style="text-align: center;">
      <fa-icon class="fa-2x" [icon]="faCartPlus"></fa-icon>
    </div>
  </div>
  <hr>
  <div *ngIf="productsInCart.length !=0">
    <div class="row">
      <div class="col-xl-8 col-md-12 col-sm-12 col-12" style="text-align: center;">
        <h5>Listado de Producto en carrito</h5>
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>N°</th>
              <th>Producto</th>
              <th>Nombre</th>
              <th>Cantidad</th>
              <th>Precio</th>
              <th>Promoción</th>
              <th>Total</th>
              <th>Estado</th>
              <th>Añadido</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of productsInCart;let i = index">
              <th scope="row">{{i+1}}</th>
              <td><img [src]="productsInCartImages[i]" style="width: 8vw; height:auto"/></td>

              <td>{{item.Producto.prd_id+" "+item.Producto.prd_nom}}</td>
              <td>{{item.pcr_cnt}}</td>
              <td>{{item.Producto.prd_prc}} c/u</td>
              <td>{{item.Producto.Promocion.prm_nom}}</td>
              <!-- <td>{{calcularTotal(item)|number:"1.2-2"}}</td> -->
              <td>{{productsPrice[i]|number:"1.2-2"}}</td>
              <td>{{item.pcr_est}}</td>
              <td>{{ item.pcr_dateOfCreated | date:'longDate' }}</td>

              <td>
                <div class="btn-group" >
                  <button type="button" (click)="setProductInCart(item)" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#exampleModalCenter">
                    <fa-icon [icon]="faPencilAlt"></fa-icon>
                  </button>
                  <!-- <button [routerLink]="['/productos/ver',item.prd_id]" class="btn btn-sm btn-info">
                    <fa-icon [icon]="faEye"></fa-icon>
                  </button> -->
                  <!-- <button [routerLink]="['/productos/editar',item.prd_id]" class="btn btn-sm btn-warning">
                    <fa-icon [icon]="faPencilAlt"></fa-icon>
                  </button> -->
                  <button (click)="delete(item)" class="btn btn-sm btn-danger">
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-4 col-md-4 col-sm-5" style="text-align: center;">
        <h5>Factura Completar Pago!!</h5>
        <div class="col">
          <div class="productoTienda" style="margin-left: 20px;">
            <h5><b>Recibo</b></h5>
            <h5>Nº Productos: {{contador}}</h5>
            <h5>Total: {{precioTotal|number:"1.2-2"}}</h5>
            <button>
              <h6> <a class="agregarBotton" [routerLink]="['/factura']" >Completar Pago</a></h6>
              <!-- <h6> <a class="agregarBotton" [routerLink]="['/productoencarrito/add',1009]">Completar Pago</a></h6> -->
              <!-- <h6> <a class="agregarBotton" >Completar Pago</a></h6> -->
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="productsInCart.length ==0">
    <div class="col-12 col-md-12 col-sm-12" style="text-align: center;">
      <h5>No tienes ningun producto pendiente!!</h5>
      <div class="productoTienda" style="margin-left: 20px;">
        <h5><b>Recibo</b></h5>
        <h5>Nº Productos: {{contador}}</h5>
        <h5>Total: {{precioTotal|number:"1.2-2"}}</h5>
        <h6>Regresa a la tienda por más productos</h6>
        <button>
          <!-- <h6> <a class="agregarBotton"  (click)="setFacturaCompleta()">Aceptar</a></h6> -->
          <h6> <a class="agregarBotton" [routerLink]="['/tienda']">Tienda</a></h6>
          <!-- <h6> <a class="agregarBotton" >Aceptar</a></h6> -->
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header popupheader">
        <h5 class="modal-title" id="exampleModalLongTitle">Producto en mi carrito</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;" (onClick)="ngOnInit()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-product-in-cart-view [productInCart]="productInCart"></app-product-in-cart-view>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="ngOnInit()" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>